<div style="
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
">
    <div id="under_nest" style="
    height: 139px;

    padding-top: 27px;
    background-color: #0b4665;
">

    </div>
</div>

<style>
    #dropdown1 {
        width: 299px ! important;
    }

    #dropdown1 a {
        color: #006599;
    }

    .dropdown-button {
        cursor: pointer;
        font-weight: 300;
    }
</style>


<div id="layer_holder">
    <div id="map_layer">
        <div id="map_layer_holder">
            <div>
                <div id="side_main">
                    <div class="con-color">
                        <nav class="con-color">
                            <div class="nav-wrapper">
                                <span class="left" style="display: flex;">
                                    <div style="display: inline-block;padding: 0 22px;padding-right: 8px;">
                                        <i id="menu" class="material-icons" style="cursor: pointer">menu</i>
                                    </div>
                                </span>

                                <span class="left">
                                    <div style="display: inline-block;padding: 0 12px;">
                                        <!-- Dropdown Trigger -->
                                        <a class='dropdown-button' data-activates='dropdown1'>
                                            Owokoniran Family <i class="material-icons right">arrow_drop_down</i>
                                        </a>

                                        <!-- Dropdown Structure -->
                                        <ul id='dropdown1' class='dropdown-content'>
                                            <li><a href="#!">Inits Limited</a></li>
                                            <li><a href="#!">Friends Circle</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#!"> <i class="material-icons left">person_add</i> Enter Invitation Code </a></li>
                                            <li><a href="#!"> <i class="material-icons left">account_circle </i> Create a New Circle </a></li>
                                        </ul>
                                    </div>
                                </span>

                                <ul id="nav-mobile" class="right">
                                    <li><a href="#"><i class="material-icons">more_vert</i></a></li>
                                </ul>
                                <div style="clear: both"></div>
                            </div>
                        </nav>
                    </div>

                    <div id="side_main_menu">
                        <div>

                        </div>
                    </div>

                    <div>
                        <div>
                            <div class="col s12">
                                <ul id="tabs" class="tabs con-color">
                                    <li class="tab col s3"><a class="active" href="#members">Members</a></li>
                                    <li class="tab col s3"><a href="#test1">Places</a></li>
                                    <li class="tab col s3"><a href="#test2">Messages</a></li>
                                    <li class="tab col s3"><a href="#test4">Sharing</a></li>
                                </ul>
                            </div>
                            <div>
                                <div id="style_holder">
                                    <div id="members" class="col s12">
                                        <div style="padding: 10px;">
                                            <div>
                                                <div class="col members-pill s12 m8 offset-m2 l6 offset-l3">
                                                    <div class="card-panel z-depth-1"
                                                         style="margin: 0; padding: 14px 8px;">
                                                        <div class="row valign-wrapper" style="    margin-bottom: 0px;">
                                                            <div class="col s2" style="padding: 0 0.28rem;">
                                                                <img src="http://materializecss.com/images/yuna.jpg"
                                                                     alt=""
                                                                     class="circle responsive-img">
                                                                <!-- notice the "circle" class -->
                                                            </div>
                                                            <div class="col s8">
              <span class="black-text" style="    line-height: 1.1;">
                Olatunde Owokoniran <br> <small> 16 Majaro street, Onike Sabo, Yaba </small>
              </span>
                                                            </div>
                                                            <div class="col s2">
                                                                <p style="line-height: 15px;">
                                                                    <img style="padding-left: 9px;width: 29px! important;"
                                                                         src="../../assets/img/battery.png"
                                                                         class="img-responsive"/>
                                                                    <img style="padding-left: 9px;width: 29px! important;"
                                                                         src="../../assets/img/battery.png"
                                                                         class="img-responsive"/>
                                                                    <img style="padding-left: 9px;width: 29px! important;"
                                                                         src="../../assets/img/battery.png"
                                                                         class="img-responsive"/>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="test2" class="col s12">Test 2</div>
                                    <div id="test4" class="col s12">Test 4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
    <div class="progress" style="margin: 0px !important;background-color:#006599">
        <div class="indeterminate"></div>
    </div>
</div>

<script>
    $('#tabs').tabs();
    $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: true, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: true, // Displays dropdown below the button
                alignment: 'left' // Displays dropdown with edge aligned to the left of button
            }
    );

    $("#menu").click(function () {
        if($('#side_main_menu').css("margin-left") == "-282px") {
            $('#side_main_menu').animate({"margin-left": '0px'});
        } else {
            $('#side_main_menu').animate({"margin-left": '-282px'});
        }
    });

    var map;
    function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 6.492323, lng: 3.359775},
            zoom: 12,
            styles: [{
                "featureType": "all",
                "elementType": "all",
                "stylers": [{"hue": "#e7ecf0"}]
            }, {"featureType": "poi", "elementType": "all", "stylers": [{"visibility": "off"}]}, {
                "featureType": "road",
                "elementType": "all",
                "stylers": [{"saturation": -70}]
            }, {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [{"visibility": "off"}]
            }, {
                "featureType": "transit.line",
                "elementType": "all",
                "stylers": [{"visibility": "on"}, {"color": "#449cd5"}]
            }, {
                "featureType": "transit.station",
                "elementType": "all",
                "stylers": [{"visibility": "on"}]
            }, {
                "featureType": "transit.station.rail",
                "elementType": "all",
                "stylers": [{"visibility": "on"}, {"hue": "#009cff"}]
            }, {
                "featureType": "transit.station.rail",
                "elementType": "geometry.fill",
                "stylers": [{"visibility": "on"}, {"hue": "#00fff5"}]
            }, {
                "featureType": "transit.station.rail",
                "elementType": "geometry.stroke",
                "stylers": [{"visibility": "simplified"}, {"hue": "#00ffcd"}]
            }, {
                "featureType": "transit.station.rail",
                "elementType": "labels.text.fill",
                "stylers": [{"visibility": "on"}, {"color": "#ffffff"}]
            }, {
                "featureType": "transit.station.rail",
                "elementType": "labels.text.stroke",
                "stylers": [{"visibility": "on"}, {"color": "#626264"}]
            }, {
                "featureType": "transit.station.rail",
                "elementType": "labels.icon",
                "stylers": [{"visibility": "on"}]
            }, {
                "featureType": "water",
                "elementType": "all",
                "stylers": [{"visibility": "simplified"}, {"saturation": -60}]
            }]
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTCTFrB8gL6wxcMb4A35T_O6BDy2yPv9s&callback&callback=initMap"
        async defer></script>